<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <script defer src="js/signin.js"></script>
		<link href="css/styles.css" rel="stylesheet">
	</head>
<body background="/images/library.jpg" style="background-repeat: no-repeat;background-size:cover">
   <section class="container-fluid" style="margin-top: 48px;margin-left: 550px;">
      <section class="col-12 col-sm-6 col-md-4">
        <form class="form-container" id="form"  onsubmit="return validate()">
        <div class="form-group">
          <h4 class="text-center font-weight-bold" style="color:greenyellow"> You can Sign In/Sign Up Here </h4>
          <br>
          <label for="username" style="color:greenyellow; font-weight: bold;" >User Name</label>
           <input type="text" class="form-control" id="usrnm" placeholder="Enter User Name">
           <br>
           <label for="error" id="error"></label>
        <div class="form-group">
          <label for="InputPassword1" style="color:greenyellow; font-weight: bold;">Password</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter Password">
          <br>
           <label for="error2" id="error2"></label>
        </div>
        <button  class="glow-on-hover" type="submit" value="login" style="margin-left: 85px;">LOGIN</button>
        <div class="form-footer">
          <p style="color: greenyellow;"> Don't have an account? <a href="/signup" style="color: greenyellow;">Sign Up</a></p>
          
        </div>
    
        </div>
        </form>
      </section>
    </section>
  </section>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html> 